 body {
  padding-top: 70px;
  background-color: rgba(255, 250, 213, 1);
 }
 nav {
  background-color: rgba(189, 73, 50, 0.5);
  width: 100%;
 }
 .left {
  background-color: rgba(16, 91, 99, 1);
  height: 800px;
  padding-top: 200px;
 }
 .right {
  background-color: rgba(219, 158, 54, 1);
  height: 800px;
  padding-top: 200px;
  /*font-size: 20px;*/
 }
 h1 {
  text-align: center;
 }
 h3 {
  text-align: center;
 }
.board {
  border: solid black 2px;
  height: 538px;
  width: 538px;
  margin: 0 auto;
  text-align: center;
  font-size: 150px;
  background-color: rgba(255, 211, 78, 1);
}
.box {
  border:solid black 2px;
  height: 178px;
  width: 178px;
  float: left;
}
.score {
  text-align: center;
 /* border: solid black 2px;
  height: 250px;
  width: 150px;
  float: right;
  position: relative;
    right: 5%;
    bottom: 400px;*/
}
.play-again {
  position: relative;
    left: 45%;
  margin: 10px;
}
.reset {
  position: relative;
  top: 60px;
  clear: both;
}



